.MenuBar {
    background: #69CC93;
    background: linear-gradient(130deg, #039087 0%, #69CC93 35%, #9ecc80 50%, #c5cc80 90%, #ccb280 100%); 
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    min-height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MenuBar-link {
    display: inline-block;
    padding: 0.8em  2em 0.3em 0.8em;
    margin: 0.1em 0.1em 0 0.1em;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: #000;
}

.MenuBar-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.MenuBar-link-active, .MenuBar-link-active:hover  {
    background-color: rgba(255, 255, 255, 1);
}

.MenuBar-label {
    display: inline-block;
    padding: 0.8em  0.8em 0.3em 0.8em;
    margin: 0.1em 0.1em 0 0.1em;
}

.MenuBar-logout {
    color: #df2b13;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0);;
}

.MenuBar-logout:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 480px) {
    .MenuBar {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .MenuBar-link, .MenuBar-logout, .MenuBar-label {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .MenuBar {
        background: linear-gradient(90deg, #039087 0%, #69CC93 35%, #9ecc80 50%, #c5cc80 90%, #ccb280 100%);
        justify-content: center;
    }

    .MenuBar-link, .MenuBar-logout, .MenuBar-label {
        width: auto;
    }

    .MenuBar-label {
        margin: 0 0.5em;
    }
}