.AccountListItem {
    list-style: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.AccountListItem-currency {
    font-size: 0.8em;
    color: #555;
    display: inline-block;
    margin-left: 1em;
}

.AccountListItem-button {
    background-color: #fff;
    color: #dd7017;
    border: none;
    padding: 0.4em;
    border: 1px solid #dd7017;
    margin-left: 1em;
    border-radius: 0.4em;
}

.AccountListItem-button:hover {
    color: #fff;
    background-color: #dd7017;
}
