.EditAccount {
    max-width: 320px;
    margin-bottom: 3em;
}

.EditAccount-form {
    padding-left: 2em;
}

.EditAccount-save-account,
.EditAccount-delete-account,
.EditAccount-cancel {
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 1em;
}

.EditAccount-cancel {
    width: 100%;
}

.EditAccount-save-account {
    background-color: #5fb324;
}

.EditAccount-save-account:hover {
    background-color: #73cc33;
}

.EditAccount-delete-account {
    background-color: #df2b13;
}

.EditAccount-delete-account:hover {
    background-color: #f05742;
}

.EditAccount-cancel {
    background-color: #dd7017;
}

.EditAccount-cancel:hover {
    background-color: #e98f46;
}
