.NewAccount {
    max-width: 320px;
    margin-bottom: 3em;
}

.NewAccount-form {
    padding-left: 2em;
}

.NewAccount-label-group {
    display: block;
    margin-bottom: 1.2em;
} 

.NewAccount-add-account {
    width: 100%;
    background-color: #5fb324;
    color: #fff;
    padding: 10px;
    border: none;
}

.NewAccount-add-account:hover {
    background-color: #73cc33;
}
